body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

.main {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

header {
  padding: 8px;
  background: purple;
  color: white;
  display: flex;
}

header .flex {
  flex: 1;
}

header .github-logo svg {
  display: block;
}

footer {
  background: #333;
  color: white;
  font-size: 14px;
  padding: 4px;
}

footer a {
  color: #00bcd4;
}

h1 {
  margin: 0;
  font-size: 20px;
}

#xschem {
  flex: 1;
  color: #88dd00;
  display: flex;
  position: relative;
  overflow: hidden;
}
